{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NOTES APP</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
  </head>
  <body class="bg-dark text-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/note.webp' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="brand-text">
                        NOTE MAKER
                    </span>
                        
                </a>
            </div>
    </nav>

        {% block content %}


        {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>